.cart_heading{
    min-height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; 
    gap: 1rem; 
    background-image:url(../images/cart1.png);
    background-size: cover;
    background-position: center;
    text-align: center;
 }
 
 .cart_heading h3{
    font-size: 5rem;
    color:var(--white);
    text-transform: uppercase;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
 }
 
 .cart_heading p{
    font-size: 2.5rem;
    color:var(--white);
 }
 
 .cart_heading p a{
    color:#ecd0a5;
 }
 
 .cart_heading p a:hover{
    text-decoration: underline;
 }
 
 
.shopping-cart .box-container{
    max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    align-items: center;
    gap:1.5rem;
    justify-content: center;
 }
 
 .shopping-cart .box-container .box{
    text-align: center;
    padding:2rem;
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    position: relative;
    border:var(--border);
 }
 
 .shopping-cart .box-container .box .fa-times{
    position: absolute;
    top:1rem; right:1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background-color: var(--red);
    color:var(--white);
    border-radius: .5rem;
 }
 
 .shopping-cart .box-container .box .fa-times:hover{
    background-color: var(--black);
 }
 
 .shopping-cart .box-container .box img{
    width: 100%;
 }
 
 .shopping-cart .box-container .box .name{
    padding:1rem 0;
    font-size: 2rem;
    color:var(--black);
 }
 
 .shopping-cart .box-container .box .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:var(--red);
 }
 
 .shopping-cart .box-container .box input[type="number"]{
    margin:.5rem 0;
    border:var(--border);
    border-radius: .5rem;
    padding:1.2rem 1.4rem;
    font-size: 2rem;
    color:var(--black);
    width: 9rem;
 }
 
 .shopping-cart .box-container .box .sub-total{
    padding-top: 1.5rem;
    font-size: 2rem;
    color:var(--light-color);
 }
 
 .shopping-cart .box-container .box .sub-total span{
    color:var(--red);
 }
 