.contact_heading{
    min-height: 30vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; 
    gap: 1rem; 
    background-image:url(../images/contactus3.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
 }
 
 .contact_heading h3{
    font-size: 5rem;
    color:var(--light-bg);
    text-transform: uppercase;
 }
 
 .contact_heading p{
    font-size: 2.5rem;
    color: #ffff;
 }
 
 .contact_heading p a{
    color: #ecd0a5;
 }

 .contact_heading p a:hover{
    text-decoration: underline;
 }
 
 

 
.contact form{
   margin:0 auto;
   background-color: var(--light-bg);
   border-radius: .5rem;
   border:var(--border);
   padding:2rem;
   max-width: 50rem;
   margin:0 auto;
   text-align: center;
}

.contact form h3{
   font-size: 2.5rem;
   text-transform: uppercase;
   margin-bottom: 1rem;
   color:var(--black);
   width:auto;
}

.contact form .box{
   margin:1rem 0;
   width: 100%;
   border:var(--border);
   background-color: var(--white);
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
}

.contact form textarea{
   height: 20rem;
   resize: none;
}
