.shop_heading{
    min-height: 60vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; 
    gap: 1rem; 
    background-image:url(../images/postcards_new.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
 }
 
 .shop_heading h3{
    font-size: 5rem;
    color:var(--black);
    text-transform: uppercase;
 }
 
 .shop_heading p{
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .shop_heading p a{
    color:var(--purple);
 }
 
 .shop_heading p a:hover{
    text-decoration: underline;
 }
 
 

.shop_products{
   margin:0;
   padding: 0;
}
.shop_products .product_headers {
   display: flex;
   font-size: 3rem;
   column-gap: 10rem;
   justify-content: space-evenly;
   align-items: center;
   background-color: rgb(223, 211, 161);
   padding: 1rem;
}

.shop_products .product_headers a {
   text-decoration: none;
   color: #333; /* Customize color as needed */
   padding: 0.5rem 1rem;
   border-radius: 5px;
   transition: background-color 0.3s, color 0.3s;
}

.shop_products .product_headers a:hover {
   background-color: #333;
   color: #fff; /* Contrast color for hover */
}
/* .shop_products .product_headers a:active {
   background-color: #333;
   transform: translateY(4px);
} */

.shop_products .main-content {
 background-image: url(../images/homewall2.jpg);
padding: 0%;padding-bottom: 2%;


}
.shop_products .main-content h1{
   font-size:7rem;
   margin-bottom: 15px;
   margin-top: 15px;
   color: rgb(53, 53, 53);
  

}
.shop_products .box-container{
   /* max-width: 1200px; */
   margin:0 ;
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   align-items: flex-start;
   gap:1.5rem;
   justify-content: center;
   
}

.shop_products .box-container .box{
   border-radius: .5rem;
   background: rgba(255, 255,255, 0.7) ;/* Green background with 30% opacity */
   box-shadow: var(--box-shadow);
   padding:2rem;
   text-align: center;
   border:var(--border);
   position: relative;
   max-width: 300px;       /* Set the image width to 100% of its container */
   height: auto;      /* Maintain aspect ratio */
  /* Limit the height to avoid overly large images */
   object-fit: contain;
   
}

.shop_products .box-container .box .image {
   width: 100%;       /* Set the image width to 100% of its container */
   height: auto;      /* Maintain aspect ratio */
   max-height: 300px; /* Limit the height to avoid overly large images */
   object-fit: contain;
   border: black solid 2px;
}

.shop_products .box-container .box .name{
   padding:1rem 0;
   font-size: 3rem;
   color:var(--black);
   font-weight: 400;
}
.shop_products .box-container .box .hidden{
   padding:1rem 0;
   font-size: 3rem;
   color:var(--black);
   font-weight: 400;
   
}

.shop_products .box-container .box .qty{
   width: 100%;
   padding:1.2rem 1.4rem;
   border-radius: .5rem;
   border:var(--border);
   margin:1rem 0;
   font-size: 3rem;
}

.shop_products .box-container .box .price{
   position: absolute;
   top:1rem; left:1rem;
   border-radius: .5rem;
   padding:1rem;
   font-size: 2.5rem;
   color:var(--white);
   background-color: var(--red);
}